* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.container {
  margin: 10px 10px;
}

.info {
  display: flex;
}

.info > img {
  width: 250px;
  height: 200px;
}

.info-container {
  margin-left: 10px;
}

.info-container h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.info-container-item {
  margin-bottom: 2px;
}

.container-item {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
}